body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;
}

/* classes */

.div_css{
    clear: both;
}


/* ids */

#header_css{
    background: #ebebeb;
    position: relative;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

#nav_css{
    background: #ebebeb;
    position: relative;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

#section_css{
    background: #ebebeb;
    position: relative;
    float: left;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

#article_css{
    color: #ebebeb;
    background: #777;
    position: absolute;
    left: 10px;
    right: 10px;
    height: 240px;
    margin: 10px;
    padding: 10px;
}

#h1_css{
    color: #777;
    background: #ebebeb;
    left: 10px;
    right: 10px;
    height: 55px;
    padding: 20px;
    margin: 10px;

}

#p_css{
    color: #777;
    background: #ebebeb;
    left: 10px;
    right: 10px;
    height: 55px;
    padding: 20px;
    margin: 10px;

}

#aside_css{
    background: #ebebeb;
    position: relative;
    float: right;
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

#footer_css{
    clear: both;
    background: #ebebeb;
    position: relative;
    height: 50px;
    margin: 10px;
    padding: 10px;    
}